<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오카오카이 냐옹카이</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/board_write.js"></script>
</head>

<body>
    <header>
        <div class="header_buttons">
            <a th:href="@{/login}" class="logout_button">로그아웃</a>
        </div>
    </header>
    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 안내해드립니다.</p>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목을 입력하세요."></dd>
                    </dl>
                </div>
                <div class="contents">
                    <textarea placeholder="내용을 입력하세요."></textarea>
                </div>
            </div>
            <div class="board_button_wrap">
                <a th:href="@{/dashboard}" type="submit" class="on">등록하기</a>
                <a th:href="@{/dashboard}" class="on">취소하기</a>
            </div>
        </div>
    </div>
    <script src="/js/logout.js"></script>
</body>

</html>